mobile/android/.galaxy/
mobile/android/.gradle/
mobile/android/.idea/
mobile/android/app/build/
mobile/android/app/sec/
mobile/android/build/
mobile/android/gradle/
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/local.properties
*.iml
*.DS_Store
server/public/.galaxy/
server/public/.gradle/
server/public/.idea/
server/.galaxy/
server/.gradle/
server/.idea/
